h1{

	text-align: center;
}

#go2abt{


}

#go2Ass{

	text-align: center;
}

#row{

	display: inline-block;
	text-align: center;
}


li a{
	display: inline-block;

}


li{
	color:black;
	text-decoration: none;
	display: inline-block;
}

ul{
	text-decoration: none;
	display: inline-block;
}

#imgcontainer{
	position: absolute;
        width: 100px; /*the image width*/
        height: 100px; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -50px; /*half the image width*/
        margin-top: -50px; /*half the image height*/

}