/*INDEX STUFF:
includes h1, button, go2abt, go2Ass 
*/

h1{

	text-align: center;
}

#go2abt{


}

#go2Ass{

	text-align: center;
}

#row{

	display: inline-block;
	text-align: center;
}



ABOUT ME STUFF:
includes abt, collab, collab2, and technical skills

#abt{

	color:blue;
}
body{

	font-size: 1em;

	background-image: url("okthistime.jpg");
	background-repeat: no-repeat;
	background-size: 1400px 700px
}


#collab2{

	color:green;
}
#collab{

	color:black;
}


strong{

	color:blue;
}
#TechnicalSkills{

	color:yellow;
}

background-image